@using DBProject.Models;
@model List<Customer>

<div class="text-center">
    <h2 class="display-4">Customers</h2>
    <div >
        <a asp-controller="Customer" asp-action="Create">Create New Customer</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>First Name</p>
            </th>
            <th>
                <p>Last Name</p>
            </th>
            <th>
                <p>Email Address</p>
            </th>
            <th>
                <p>Phone Number</p>
            </th>
            <th>
                <p>Options</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer c in Model)
        {
            <tr>
                <td>
                    @c.FirstName
                </td>
                <td>
                    @c.LastName
                </td>
                <td>
                    @c.EmailAddress
                </td>
                <td>
                    @c.Phone
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Customer", new { id = c.Id })">Edit</a>
                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@c.Id">Delete</a> |
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
                    <a asp-controller="Customer" asp-action="Orders" asp-route-id="@c.Id">Orders</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<div class="text-center">
    <h2 class="display-4">Customers</h2>
    @foreach (Customer p in Model)
    {
        <div>@p.FirstName @p.LastName @p.EmailAddress @p.Phone</div>
    }
</div>*@
